
@{
    ViewBag.Title = "GioiThieu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>THÔNG TIN SINH VIÊN</h2>

<h4>Mã sinh viên: 59132942</h4>
<h4>Họ tên: Nguyễn Thái Tuấn</h4>
<h4>Lớp: 59.CNTT-1</h4>
<h4>Ngày kiểm tra: 22-06-2020</h4>

